<html xmlns:th="http://www.thymeleaf.org" lang="sk">
<!doctype html>
<meta charset="utf-8"/>


<head>
    <title>ALL SUBJECT TERMS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<p>Click <a th:href="@{/home}">here</a> to return.</p>

</div>
</tr>


<h2>SUBJECT TERMS</h2>

<div>
    <table>
        <thead>
        <tr>
            <th>Subject</th>
            <th>Academic Year</th>
            <th>Semester</th>
            <th>Result</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject : ${listSubjectTerms}">
            <td th:text="${subject.subject.getName()}"></td>
            <td th:text="${subject.academicYear}"></td>
            <td th:text="${subject.semester}"></td>
            <td th:text="${subject.subjectResult}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Maximum</th>
            <th>Result</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

</body>

</html>